h1 {
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.home{
    text-align: center;
    margin: 50px;
    padding: 20px;
    font-size: 50px;

}

.board{
    margin:auto;
    text-align: center;
    width: 80%;
}

.winnerRanking{
    background-color: green;
}

 .loserRanking{
    background-color: red;
}