.mainpage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Pokemon Solid', sans-serif;
    margin-top: 100px;
    
    margin-right: 0;
    margin-left: 0;
    left: 0;
    right: 0;
  
}


.headline {
    font-size: 140px;
    margin-bottom: 30px;
}

.subheader {
    font-size: 75px;
}

.battlebanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.player {
    height: 400px;
    width: 400px;
}

.startbutton {
    width: 200px;
    height: 75px;
    background-color: yellow;
    border-radius: 15px;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 34px;
    z-index: 10;
}