.pokeList {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}


.pokeCard {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.pokeCard img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.cardPoke{
    display: block;
    margin:0 10px;
    width:300px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.pokeImage{
    width: 300px;
    margin:10px;
    text-align: center;
}

h2.title {text-align: center;width: 250px;;}
ul {margin:20px;
text-align: center;
width:200px;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;}
   

li.disabled {
    list-style: none;
    cursor: default;

    text-decoration: none;
    color:black;

}